<a href="https://colab.research.google.com/github/Phi142/Bai-tap-1-Tren-Lop/blob/main/Bai1TTNT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

with open('text.txt', mode='w') as accounts:
  accounts.write('20146515 Tran Minh Phi 8\n') 
  accounts.write('20146423 Nguyen Quoc Tien 9\n') 
  accounts.write('20146129 Chiu Sang Hung 10\n')

In [ ]:
with open('text1.txt', mode='w') as accounts:
  print('Tiennn Phiiii',file = accounts)

In [ ]:
value1 = int(input('nhap so thu nhat: '))
value2 = int(input('nhap so thu nhat: '))
value1 + value2

In [ ]:
with open('text1.txt', mode='r') as accounts:
  print(f"{'Mssv':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
    Mssv,Name,Score = record.split()
    print(f'{Mssv:<10}{Name:<20}{Score:>2}')

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe.iloc[:10]

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe = dataframe.set_index(dataframe['Name']) 
dataframe.loc['Tran Minh Phi']

In [120]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe[dataframe['Khoa'] == 'Co khi may'].head(10)

    No               Name      MSSV        Khoa  Score
0    1      Tran Minh Phi  20146515  Co khi may      8
6    7       Le Van Quang  18028932  Co khi may      7
11  12      Quang Tan Loc  19033992  Co khi may      7
15  16  Nguyen Huynh Ngoc  22032939  Co khi may      4

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe[(dataframe['Khoa'] == 'Co khi may')&(dataframe['Name'] == 'Tran Minh Phi')].head(10)

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe[(dataframe['Khoa'] == 'Co khi may')|(dataframe['Name'] == 'Chiu Sang Hung')].head(10)

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe['Khoa'].replace('Co khi may','CKM').head(10)
dataframe.replace('Co khi may','CKM').head(10)

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

print('Diem Cao Nhat: ',dataframe['Score'].max())
print('Diem Thap Nhat: ',dataframe['Score'].min())
print('Diem Trung Binh: ',dataframe['Score'].mean())
print('Diem Tong: ',dataframe['Score'].sum())
print('Tong So Nguoi: ',dataframe['Score'].count())

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe['Khoa'].unique()
dataframe['Khoa'].value_counts()

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe.drop(['MSSV','Khoa'],axis = 1).head(10)

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe.drop(dataframe.columns[2:4],axis=1).head(10)

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe[dataframe['Khoa']!='Dien'].head(10)
dataframe[dataframe['Score']!=7].head(10)

dataframe[dataframe.index != 4].head(10)

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe.drop_duplicates().head(10)

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe.groupby('Khoa').count()

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe.groupby(['Khoa','Score']).count()

In [ ]:
import pandas as pd
url = 'data.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)

dataframe.groupby('Khoa')['Score'].count()

In [ ]:
import pandas as pd
import numpy as np

time_index = pd.date_range('01/01/2023',periods = 100000,freq ='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

data.groupby('NOC')['Medal'].count()

In [100]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

      Year      City       Sport  ...            Event Event gender   Medal
0     1924  Chamonix     Skating  ...       individual            M  Silver
1     1924  Chamonix     Skating  ...       individual            W    Gold
2     1924  Chamonix     Skating  ...            pairs            X    Gold
3     1924  Chamonix   Bobsleigh  ...         four-man            M  Bronze
4     1924  Chamonix  Ice Hockey  ...       ice hockey            M    Gold
...    ...       ...         ...  ...              ...          ...     ...
2306  2006     Turin      Skiing  ...        Half-pipe            M  Silver
2307  2006     Turin      Skiing  ...        Half-pipe            W    Gold
2308  2006     Turin      Skiing  ...        Half-pipe            W  Silver
2309  2006     Turin      Skiing  ...  Snowboard Cross            M    Gold
2310  2006     Turin      Skiing  ...  Snowboard Cross            W  Silver

[2311 rows x 8 columns]

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

data[data['Medal'] == 'Gold'].value_counts()

In [131]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

data[data['Medal'] == 'Gold'].value_counts().mean()

1.0025906735751295